.ant-btn-primary {
  background: #5956FF !important;
}

.ant-pro-form-collapse-button {
  color: #5956FF !important;
}

.word-matching {
  background: #5956FF;
  color: white;
}

.display-none {
  display: none;
}
